<mat-grid-list cols="9">
  <mat-grid-tile colspan="2" rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="2">
    <table>
      <tr>
        <h2>Game Rules</h2>
        <span>1. Rock paper scissors can be played in 2 modes:</span>
        <ul>
          <li>Normal mode</li>
          <li>Ranking mode (by toggling the slide)</li>
        </ul>
      </tr>
      <tr>
        <span>2. Ranking mode can only be activated when user hasn't lost any match.</span>
      </tr>
      <tr>
        <span>3. In ranking mode, the user can compete by accumulating their wins.
          Once losing a match, the player will be given the option to save their winning record.</span>
      </tr>
      <tr>
        <span>4. Top 10 players with best winning records are shown in playing ranking.</span>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
  </mat-grid-tile>
</mat-grid-list>
